<ol>
<div class="comment">
  <span class="image"><%= link_to gravatar_for(comment.user, size: 50), comment.user %></span>
  <span class="user"><%= link_to comment.user.name %></span>
  <span class= "timestamp-comment">  
    Commented <%= time_ago_in_words(comment.created_at) %> ago.
  </span>
  <div class="container">
    <span class="tip tip-up"></span>
      <div class="message">
        <span><%= comment.content %></span> 
        <% if current_user?(comment.user) %>
            <%= link_to "delete", comment, method: :delete,
                             data: {confirm: "Are you sure?"} %>
        <% end %>
      </div>
  </div>  
</div>
</ol>