<div class="col-md-10 col-md-offset-2">
<span class = "col-md-1-offset-2"><%= link_to gravatar_for(comment.user, size: 50), comment.user %></span>
<span class="col-md-1 text-left "><%= link_to comment.user.name %></span>
<span class= "col-md-6 ">  
  Commented <%= time_ago_in_words(comment.created_at) %> ago.
</span>
<span class="row"><%= comment.content %>
  <% if current_user?(comment.user) %>
      <%= link_to "delete", comment, method: :delete,
                       data: {confirm: "Are you sure?"} %>
  <% end %>
</span>
</div>