<!-- <li class = "entries"> -->
<div class="row">
  <span class="img-circle"><%= link_to gravatar_for(entry.user, size: 50), entry.user %></span>
  <span class="col-md-1"><%= link_to entry.user.name, entry.user %></span>
  <span class="col-md-2"><strong><%= entry.title %></strong></span>
  <span class="col-md-8">
    Posted <%= time_ago_in_words(entry.created_at) %> ago.
  </span>
  <span class=""><%= entry.content %>
    <% if current_user?(entry.user) %>
      <%= link_to "delete", entry, method: :delete,
                                       data: { confirm: "You sure?" } %>
    <% end %>
  </span>
  <!-- Comment -->

  <% if logged_in? %>
    <% if current_user?(entry.user) || current_user.following?(entry.user) %>
      <%= render 'shared/comment_form', entry: entry %>
    <% end %> 
  <% end %>
  <div id="comments-<%= entry.id %>" class="row">
   <% entry.comments.each do |comment| %>
      <% if !comment.id.nil? %>
        <%= render "comments/comment", comment: comment %>
      <%  end %>
    <% end %>
  </div>


</div>
