<%= form_for(@entry, remote: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <%= f.label :entry %>
  <div class="field">
    <%= f.text_field :title, id: "title_entry_"<< current_user.id.to_s, placeholder: "Title..."%>
    <%= f.text_area :content, id: "content_entry_"<< current_user.id.to_s, placeholder: "Compose new entry..."%>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>